/* *{
  margin: 0;
  padding:0;
}
.wrapper{
text-align: center;
margin-top: 50px;
}
.block{
  margin-top: 10px;
}
.block .btn{
 width: 70px;
 height: 60px;
 margin-left: 5px;
 cursor: pointer;
 font-size: 30px;
}
.choose h1{
  margin-top: 10px;
  font-size: 20px;
}
.choose{
  margin-top: 17px;
  font-size: 30px;

} */

/* Fon tanlash */
/* .Content{
  width: 1275px;
  height: 600px;
}
.Content h1{
  margin-left: 50px;
}
.Content button{
  width: 90px;
  height: 40px;
  border: 1px solid green;
  background: green;
  color: white ;
  margin-left: 50px;
} */